figcaption
{
	align:center;
}
img
{
	border:1px;
	height:150px;
	width:120px;
}
#cells
{
	border-collapse: collapse;
	border-spacing:0px;
	padding:0px;
	border:1px solid black;
}
td
{
	width:0%;
	margin:0px;
	padding:0px;
}