
embed{
	width:100%;
}
body
{
	background-image:url(http://il6.picdn.net/shutterstock/videos/3723116/thumb/1.jpg);
}
.table_space
{
	margin:50px 50px 50px 50px;
}
footer{
background-color:black; 

}

p{
	font-size:15px;
	font-family:rockwell;
	color:white;
}

#right{
	text-align:right;
}

#left{
	text-align:left;
}

a:link{
color:white;
}

a:visited{
color:white;
}

a:hover{
color:green;
}


.button {
	font-family:rockwell;
	display: inline-block;
	border-radius: 4px;
	background-color: #001f3F;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border-radius: 25px;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1); 
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1); 
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);   

}
.button:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#buyer{
background-color:#154360
}

#seller{
background-color:#D35400;
}


figcaption
{
	align:center;
	font-family:rockwell;
	font-size:20px;
}



img
{
	border:1px;
	height:100px;
	width:100px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0px;
	border-radius: 25px;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1); 
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1); 
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);   
}
img:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}
img span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

img span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

img:hover span {
  padding-right: 25px;
}

img:hover span:after {
  opacity: 1;
  right: 0;
}


img.slide
{
	height:200px;
	width:250px;
	margin-left:28px;
	float:left;
}

#cells
{
	border-collapse: collapse;
	border-spacing:0px;
	padding:0px;
	border:1px solid black;
}
table td tr
{
	margin:0px;
	padding:0px;
	font-family:rockwell;
	font-size:10px;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	width: 100%; 
	height: 100%; 
	background-image: url(http://il6.picdn.net/shutterstock/videos/3723116/thumb/1.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 5s linear infinite;
	margin:0px 0px 0px 0px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  background-color:grey;
}

.popup {
  margin: 0px 0px 0px 0px;
  background-image:url(http://il6.picdn.net/shutterstock/videos/3723116/thumb/1.jpg);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.5s ease-in;
  font-family: rockwell;
  font-size:20px;
}

.popup h2 {
  margin: 0px 0px 0px 0px;
  color: "black";
 
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  color: darkgray;
  text-decoration:none;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: none;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.button2 {
  font-size: 20px;
  margin:0px 0px 0px 0px;
  padding: 10px;
  width:70px;
  height:25px;
  background-color: #001f3F;
  color:#FFFFFF;
  border: 2px solid white;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
a:link{
	color:white;
}

.figure
{
	margin:0px 0px 0px 0px;
}

.imgs
{
	width:150px;
	height:150px;
	background-color:transparent;
	color:transparent;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}